form[role="search"] {
    position: relative;
}

form[role="search"] svg {
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translateY(-50%);
    pointer-events: none;
}

body {
    width: 100vw;
    overflow-x: hidden;
    height: 100vh;
    overflow-y: auto;
}

@media screen and (max-width: 768px) {
    .w-md-100 {
        width: 100% !important;
    }
}
